.container {
    padding: 1em;
}

.timer {
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

.timer time {
    display: inline-flex;
    place-content: center;
    place-items: center;
    border: 1px solid rebeccapurple;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    padding: 1em;
}

.carContainer {
    width: 100%;
    height: 100px;
}

.car {
    background-image: url('/car.svg');
    width: 100px;
    height: 100px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    transition: left linear 0.1s;
}

.promptContainer {
    display: flex;
}

.prompt {
    white-space: pre-wrap;
    opacity: 0.6;
    width: 100%;
}

.raceEnd .promptContainer>* {
    width: 48%;
    transition: all linear 0.8s;
}

.raceEnd .prompt {
    font-size: 1.5em;
    text-overflow: ellipsis;
}

.raceEnd .promptContainer {
    justify-content: space-around;
    min-height: 300px;
}

:not(.raceEnd)>.promptContainer>.stats {
    display: none;
}

.stats {
    padding: 1em;
}