.carContainer {
    width: 100%;
    height: 100px;
}

.car {
    background-image: url('/car.svg');
    width: 100px;
    height: 100px;
    background-size: cover;
    display: inline-block;
    position: absolute;
    transition: left cubic-bezier(1, 0, 0, 1) 0.5s;
}